*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

html {
	font-family: 'Golos UI VF', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	color: #fafafa;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

input,
select {
	font-size: 18px;
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid #dedede;
	min-width: 1px;
	width: 1px;
}

input[type='color'] {
	aspect-ratio: 1 / 1;
	height: 40px;
	width: 40px;
	padding: 0;
}

input[type='checkbox'] {
	aspect-ratio: 1 / 1;
	height: 0.9em;
	width: 0.9em;
	padding: 0;
}

input:focus,
select:focus {
	border-color: #8cf2a5;
	outline: none;
}

button {
	font-size: 18px;
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid #dedede;
	cursor: pointer;
	transition: all 0.15s ease-in;
}

button:hover {
	background-color: #8cf2a5;
}

button:focus {
	border-color: #8cf2a5;
	outline: none;
}
